#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background-dark{
  background-color: #212529;
}

.background-black{
  background-color: #000;
}

.background-light{
  background-color: white;
}

.text-light{
  color: white;
}

.text-dark{
  color: #212529;
}

.nuxt-link-exact-active{
  color: white !important;;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  min-height:60px;
}

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

#mapImg {
  width: 100%;
  object-fit: cover;
  padding: 0 !important;
  margin: 0 !important;
}

#restaurantTopBar {
  margin: auto;
  width: 99%;
  margin-top: 5px;
}

.alignForm {
  margin-top: 50px !important;
}

.alignForm > h1 {
  text-align: center;
}
.alignForm > form > .row {
  margin-bottom: 10px;
}

.resultsList{
  overflow:hidden; 
  overflow-y:scroll;
  max-height: 70vh;
}

.resultsListDark > li {
  background-color: black;
  color: white;
}
.resultsListDark > li:hover {
  background-color: white;
  color: black;
}

.resultsListLight > li {
  background-color: white;
  color: black;
}
.resultsListLight > li:hover {
  background-color: black;
  color: white;
}

.list-group-item-action{
  cursor: pointer;
}

.borderWhite{
  border: 2px dotted white;
}

.borderDark{
  border: 2px dotted black;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.75s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}