#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

#mapImg {
  width: 100%;
  object-fit: cover;
  padding: 0 !important;
  margin: 0 !important;
}

#restaurantTopBar {
  margin: auto;
  width: 99%;
  margin-top: 5px;
}

.top2rem {
  top: 2rem;
}

.alignForm {
  margin-top: 50px !important;
}

.alignForm > h1 {
  text-align: center;
}
.alignForm > form > .row {
  margin-bottom: 10px;
}
